.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--hover-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  letter-spacing: 0.06em;
  text-transform: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  position: relative;
  align-items: center;
}

.hero-text-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
